In [1]:
import pandas as pd
import os

# Initialize an empty list to store DataFrames from each file
combined_df = pd.DataFrame()

for filename in os.listdir("./dataset"):
    if filename.endswith('.csv'):
        # Read each CSV file into a DataFrame
        df = pd.read_csv(os.path.join("./dataset/", filename))

        if combined_df.empty:
            if not df.empty:
                combined_df = df
        else:
            if not df.empty:
                combined_df = pd.concat([combined_df, df], ignore_index=True)

EmptyDataError: No columns to parse from file

In [2]:
combined_df

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $)
0,tt9114286,Black Panther: Wakanda Forever,2022,PG-13,161 min,"Action, Adventure, Drama",6.9,The people of Wakanda fight to protect their h...,Ryan Coogler,/name/nm3363032/,"Letitia Wright, \nLupita Nyong'o, \nDanai Guri...","/name/nm4004793/,/name/nm2143282/,/name/nm1775...",204835.0,NaN
1,tt1630029,Avatar: The Way of Water,2022,PG-13,192 min,"Action, Adventure, Fantasy",7.8,Jake Sully lives with his newfound family form...,James Cameron,/name/nm0000116/,"Sam Worthington, \nZoe Saldana, \nSigourney We...","/name/nm0941777/,/name/nm0757855/,/name/nm0000...",295119.0,NaN
2,tt5884796,Plane,2023,R,107 min,"Action, Thriller",6.5,A pilot finds himself caught in a war zone aft...,Jean-François Richet,/name/nm0724938/,"Gerard Butler, \nMike Colter, \nTony Goldwyn, ...","/name/nm0124930/,/name/nm1591496/,/name/nm0001...",26220.0,NaN
3,tt6710474,Everything Everywhere All at Once,2022,R,139 min,"Action, Adventure, Comedy",8.0,A middle-aged Chinese immigrant is swept up in...,"Dan Kwan, \nDaniel Scheinert",/name/nm3453283/,"Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...","/name/nm3215397/,/name/nm0000706/,/name/nm3513...",327858.0,NaN
4,tt5433140,Fast X,2023,NaN,NaN,"Action, Crime, Mystery",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,"Vin Diesel, \nJordana Brewster, \nTyrese Gibso...","/name/nm0004874/,/name/nm0108287/,/name/nm0879...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299727,tt26733154,The Monsters in our Shadows,NaN,NaN,NaN,"Drama, Horror, Sci-Fi",NaN,A man must travel into the dark to bring light...,NaN,NaN,NaN,NaN,NaN,NaN
299728,tt26733855,#SHE,2018,NaN,95 min,"Horror, Sci-Fi",NaN,#SHE is a wild journey through the warped mind...,Arantxa Echevarría,/name/nm0248401/,"David James, \nNajarra Townsend","/name/nm14562731/,/name/nm1680142/",NaN,NaN
299729,tt26741527,Upgrade My Country: Rise of the Beast,2023,NaN,NaN,"Drama, Sci-Fi, Thriller",NaN,Add a Plot,Ben Baker-Lee,/name/nm3836602/,"Ben Baker-Lee, \nRichard K Baylor, \nIan Charl...","/name/nm3836602/,/name/nm14566875/,/name/nm145...",NaN,NaN
299730,tt26743984,Suicide 2,1999,NaN,54 min,"Action, Drama, Horror",NaN,Matt awakens after trying to end his own life ...,"Brandon Womeldorff, \nMatt Brassfield",/name/nm13690776/,"Matt Hoffman, \nMatt Brassfield, \nBrandon Wom...","/name/nm1565857/,/name/nm7326486/,/name/nm1565...",NaN,NaN
299731,tt26746064,Spacebirth 2,2022,NaN,94 min,Sci-Fi,NaN,Add a Plot,"Marius Jopen, \nRichard Keith",/name/nm14569450/,"Vel' Astri, \nAudrey Belaud, \nKea Rose Besson...","/name/nm14569451/,/name/nm14569454/,/name/nm14...",NaN,NaN